.DsMenuBar-container {
  background: rgba($color: #a7e1efcc, $alpha: 1);
  width: 100%;
  height: 4rem;
  .DsMenuBar-wrapper {
    margin: 0 auto;
    width: 95vw;
    // width: 1366px;
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-around;
  }
}
