.dsDrawer-container {
  background: rgba($color: #a7e1efcc, $alpha: 1);
  position: sticky;
  top: 0;
  opacity: 0;
  height: 0;
  width: 100vw;
  .dsDrawer-wrapper {
    margin: 0 auto;
    padding-top: 0.4rem;
    font-size: 1.5em;
    width: 1501px;
    display: flex;
    .logo-section {
      width: 1501px;
      position: absolute;
      text-align: center;
    }
    .drawer-section {
      width: 1490px;
      text-align: end;
      position: absolute;
    }
  }
}
