@import "../../responsive";
body {
  max-width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
meta {
  max-zoom: 1;
  user-zoom: fixed;
}
// .TbLandingPage-container {
//   // position: absolute;
//   top: 0;
//   .TbLandingPage-wrapper {
//   }
// }

@include tbSet {
}

.TbLandingPage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 1364) {
    flex-direction: row;
  }

  @media (max-width: 1365px) {
    flex-direction: column;
  }
}

.item {
  width: 100%;

  @media (min-width: 600px) {
    width: 50%;
  }
}
