@import "../../responsive";
body {
  overflow-x: hidden;
}

@include desktop {
  .DsLandingPage-container {
    font-weight: bold;
    position: absolute;
    top: 0;
    .DsLandingPage-wrapper {
      width: 1501px;
      margin: 0 auto;
      background: yellow;
    }
  }
}
@include dsSet {
}
