@import "../../responsive";
body {
  //  -ms-overflow-style: none;
  overflow-x: hidden;
}
@include desktop {
  .DsLandingPage-container {
    // z-index: -999;
    font-weight: bold;
    .DsDrawerLanding-wrapper {
      position: absolute;

      top: 0;
      z-index: -1;
    }
    .DsLandingPage-wrapper {
      z-index: 1;
      width: 1501px;
      margin: 0 auto;
      background: yellow;
    }
  }
}
@include dsSet {
}
